<%= form_for(@fiveminute_timed_asset) do |f| %>
  <% if @fiveminute_timed_asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fiveminute_timed_asset.errors.count, "error") %> prohibited this fiveminute_timed_asset from being saved:</h2>

      <ul>
      <% @fiveminute_timed_asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :BTC %><br>
    <%= f.text_field :BTC %>
  </div>
  <div class="field">
    <%= f.label :LTC %><br>
    <%= f.text_field :LTC %>
  </div>
  <div class="field">
    <%= f.label :PPC %><br>
    <%= f.text_field :PPC %>
  </div>
  <div class="field">
    <%= f.label :NMC %><br>
    <%= f.text_field :NMC %>
  </div>
  <div class="field">
    <%= f.label :XPM %><br>
    <%= f.text_field :XPM %>
  </div>
  <div class="field">
    <%= f.label :AsicMiner %><br>
    <%= f.text_field :AsicMiner %>
  </div>
  <div class="field">
    <%= f.label :AsicMiner_small %><br>
    <%= f.text_field :AsicMiner_small %>
  </div>
  <div class="field">
    <%= f.label :Advanced_Mining_Corp %><br>
    <%= f.text_field :Advanced_Mining_Corp %>
  </div>
  <div class="field">
    <%= f.label :misc1 %><br>
    <%= f.text_field :misc1 %>
  </div>
  <div class="field">
    <%= f.label :misc2 %><br>
    <%= f.text_field :misc2 %>
  </div>
  <div class="field">
    <%= f.label :misc3 %><br>
    <%= f.text_field :misc3 %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :time_changed %><br>
    <%= f.datetime_select :time_changed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
