<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_info.user %>
</p>

<p>
  <strong>Pass:</strong>
  <%= @user_info.pass %>
</p>

<p>
  <strong>Btc:</strong>
  <%= @user_info.BTC %>
</p>

<p>
  <strong>Ltc:</strong>
  <%= @user_info.LTC %>
</p>

<p>
  <strong>Ppc:</strong>
  <%= @user_info.PPC %>
</p>

<p>
  <strong>Nmc:</strong>
  <%= @user_info.NMC %>
</p>

<p>
  <strong>Xpm:</strong>
  <%= @user_info.XPM %>
</p>

<p>
  <strong>Asicminer:</strong>
  <%= @user_info.AsicMiner %>
</p>

<p>
  <strong>Asicminer small:</strong>
  <%= @user_info.AsicMiner_small %>
</p>

<p>
  <strong>Advanced mining corp:</strong>
  <%= @user_info.Advanced_Mining_Corp %>
</p>

<p>
  <strong>Misc1:</strong>
  <%= @user_info.misc1 %>
</p>

<p>
  <strong>Misc2:</strong>
  <%= @user_info.misc2 %>
</p>

<p>
  <strong>Misc3:</strong>
  <%= @user_info.misc3 %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @user_info.comment %>
</p>

<p>
  <strong>Time changed:</strong>
  <%= @user_info.time_changed %>
</p>

<%= link_to 'Edit', edit_user_info_path(@user_info) %> |
<%= link_to 'Back', user_infos_path %>
