<div class="row full-width" style="padding-top:2%">
	<div class="large-2 columns"> 
		<h1 id="BTC_price" class="subheader">BTC: $<%= @BTC_USD_VALUE.round(2) %></h2>
		
		<h4 class="subheader" style="padding-top:40px">Altcoins</h4>
			<div id="BTC_value">BTC: <%= UserInfo.last.BTC.round(4) %></div>
			<div id="LTC_value">LTC: <%= (UserInfo.last.LTC * @last_asset.LTC).round(4) %> BTC </div>
			<div id="PPC_value">PPC: <%= (UserInfo.last.PPC * @last_asset.PPC).round(4) %> BTC</div>
			<div id="NMC_value">NMC: <%= (UserInfo.last.NMC * @last_asset.NMC).round(4) %> BTC <br></div>
			<div id="XPM_value">XPM: <%= (UserInfo.last.XPM * @last_asset.XPM).round(4) %> BTC</div>

		<h4 class="subheader" style="padding-top:40px">Investments</h4>
			<div id="AsicMiner_value">
				AsicMiner: <%= (UserInfo.last.AsicMiner * @last_asset.AsicMiner).round(4) %> BTC 
			</div>
			<div id="AsicMiner_small_value">
				AsicMiner small: <%= (UserInfo.last.AsicMiner_small * @last_asset.AsicMiner_small).round(4) %> BTC 
			</div>
			<div id="Advanced_Mining_Corp_value">
				Advanced Mining Corp: <%=(UserInfo.last.Advanced_Mining_Corp * @last_asset.Advanced_Mining_Corp).round(4)%> BTC 
			</div>

		<h4 class="subheader" style="padding-top:40px">Totals</h4>
			<div id="BTC_total_value">
				Total BTC of assets: <%= @assets_in_BTC.round(5) %>
			</div>
			<div id="USD_total_value">
				Total USD of assets: $<%= (@assets_in_BTC * @BTC_USD_VALUE).round(2) %>
			</div>
	</div>

	<div class="large-10 columns">
		<div id="chart1">
	    	<svg style="height:300px;"></svg>
	  	</div>

	  	<div id="test1" style="padding-top:20px">
	    	<svg style="height:500px;"></svg>
	  	</div>

	  	<div id='updated' style="text-align:right;">Last updated: <%= Time.now.strftime("%I:%M:%S %p") %></div>
	</div>
</div>

<script>
function get_BTC_prices() {
    	var my_data = [];

		for (var i = 0; i < gon.short_BTC_prices.length; i++) {
			price = gon.short_BTC_prices[i][0];

			date = new Date(gon.short_BTC_prices[i][1]);
			
			my_data.push({x: date.getTime(), y: price })
		};

		return [{
			values: my_data,
			key: "BTC USD"
		}];
	}
	
	function asset_prices() {
		var LTC_and_XPM_worth_in_USD = [];
		var BTC_worth_in_USD = [];
		var AMC_worth_in_USD = [];
		var AsicMiner_worth_in_USD = [];

		for (var i = 0; i < gon.short_assets.length; i++) {
			asset = gon.short_assets[i];
			
			date = new Date(asset.time_changed);
			
			LTC_and_XPM_worth_in_USD.push({
				x: date, 
				y: (gon.user_info.LTC * asset.LTC * asset.BTC) + 
				   (gon.user_info.XPM * asset.XPM * asset.BTC) })

			BTC_worth_in_USD.push({
				x: date, 
				y: gon.user_info.BTC * asset.BTC})

			AMC_worth_in_USD.push({
				x: date, 
				y: gon.user_info.Advanced_Mining_Corp * asset.Advanced_Mining_Corp * asset.BTC})

			AsicMiner_worth_in_USD.push({
				x: date, 
				y: (gon.user_info.AsicMiner * asset.AsicMiner * asset.BTC) + 
				   (gon.user_info.AsicMiner_small * asset.AsicMiner_small * asset.BTC)  })
		};			

	return [
		{	values: LTC_and_XPM_worth_in_USD,
			key: "LTC & XPM"},

		{	values: BTC_worth_in_USD,
			key: "BTC"},

		{	values: AMC_worth_in_USD,
			key: "AMC"},

		{	values: AsicMiner_worth_in_USD,
			key: "AsicMiner"}
		];
	}

	nv.addGraph(function() {
	  chart = nv.models.lineChart();

	  chart.yAxis.tickFormat(function(d) { return '$' + d3.format(',.2f')(d) });

		chart.xAxis.tickFormat(function(d) {
			return d3.time.format('%a %H:%M')(new Date(d))
		});

	  d3.select('#chart1 svg')
	    .datum(get_BTC_prices())
	    .transition().duration(500)
	    .call(chart);

	  nv.utils.windowResize(chart.update);

	  return chart;
	});

	nv.addGraph({
	  generate: function() {
		chart = nv.models.multiBarChart();

		chart.yAxis.tickFormat(function(d) { return '$' + d3.format(',.2f')(d) });

		chart.xAxis.tickFormat(function(d) {
			return d3.time.format('%b %d %I:%M')(new Date(d))
		});

	    var svg = d3.select('#test1 svg')
	    .datum(asset_prices())
	    .transition().duration(500)
	    .call(chart);

	    nv.utils.windowResize(chart.update);

	    return chart;
	  },
	});
</script>