<div class="row full-width" style="padding-top:2%">
	<div class="large-2 columns"> 
		<h1 id="BTC_price" class="subheader">BTC: UNDEFINED</h2>
		
		<h4 class="subheader" style="padding-top:40px">Altcoins</h4>
			<span id="BTC_value" data-reveal-id="BTC_Modal" class="has_chart">
				BTC: UNDEFINED
			</span><br>
			<span id="LTC_value" data-reveal-id="LTC_Modal" class="has_chart">
				LTC: UNDEFINED
			</span><br>
			<span id="PPC_value" data-reveal-id="PPC_Modal" class="has_chart">
				PPC: UNDEFINED
			</span><br>
			<span id="NMC_value" data-reveal-id="NMC_Modal" class="has_chart">
				NMC: UNDEFINED
			</span><br>
			<span id="XPM_value" data-reveal-id="XPM_Modal" class="has_chart">
				XPM: UNDEFINED
			</span><br>

		<h4 class="subheader" style="padding-top:40px">Investments</h4>
			<span id="AsicMiner_value" data-reveal-id="AsicMiner_Modal" class="has_chart">
				AsicMiner: UNDEFINED
			</span><br>
			<span id="AsicMiner_small_value" data-reveal-id="AsicMiner_small_Modal" class="has_chart">
				AsicMiner small: UNDEFINED 
			</span><br>
			<span id="Advanced_Mining_Corp_value" data-reveal-id="Advanced_Mining_Corp_Modal" class="has_chart">
				Advanced Mining Corp: UNDEFINED
			</span><br>

		<h4 class="subheader" style="padding-top:40px">Totals</h4>
			<span id="BTC_total_value" data-reveal-id="BTC_Total_Modal" class="has_chart"> 
				Total BTC of assets: UNDEFINED
			</span><br>
			<span id="USD_total_value" data-reveal-id="USD_Total_Modal" class="has_chart"> 
				Total USD of assets: UNDEFINED
			</span><br>

		<ul class="button-group round" style="padding-top:30%">
		  <li><a href="/" id="admin_buttons_homepage" class="small button">Home</a></li>
		  <li><a href="/database" id="admin_buttons_homepage" class="small button">Database</a></li>
		  <li><a href="/sidekiq" id="admin_buttons_homepage" class="small button">Sidekiq</a></li>
		</ul>
	</div>

	<div class="large-10 columns">
		<div id="BTC_no_Modal">
	    	<svg style="height:300px;"></svg>
	  	</div>

	  	<div id="USD_no_Modal" style="padding-top:20px">
	    	<svg style="height:500px;"></svg>
	  	</div>

	  	<div id='updated' style="text-align:right;">Last updated: UNDEFINED</div>
	</div>

	<!-- Models for the individual graph views for each asset. -->
	<%= render 'modal', :asset => "BTC" %>
	<%= render 'modal', :asset => "LTC" %>
	<%= render 'modal', :asset => "PPC" %>
	<%= render 'modal', :asset => "NMC" %>
	<%= render 'modal', :asset => "XPM" %>

	<%= render 'modal', :asset => "AsicMiner" %>
	<%= render 'modal', :asset => "AsicMiner_small" %>
	<%= render 'modal', :asset => "Advanced_Mining_Corp" %>

	<%= render 'modal', :asset => "BTC_Total" %>
	<%= render 'modal', :asset => "USD_Total" %>
</div>