<p id="notice"><%= notice %></p>

<p>
  <strong>Btc:</strong>
  <%= @timed_asset.BTC %>
</p>

<p>
  <strong>Ltc:</strong>
  <%= @timed_asset.LTC %>
</p>

<p>
  <strong>Ppc:</strong>
  <%= @timed_asset.PPC %>
</p>

<p>
  <strong>Nmc:</strong>
  <%= @timed_asset.NMC %>
</p>

<p>
  <strong>Xpm:</strong>
  <%= @timed_asset.XPM %>
</p>

<p>
  <strong>Asicminer:</strong>
  <%= @timed_asset.AsicMiner %>
</p>

<p>
  <strong>Asicminer small:</strong>
  <%= @timed_asset.AsicMiner_small %>
</p>

<p>
  <strong>Advanced mining corp:</strong>
  <%= @timed_asset.Advanced_Mining_Corp %>
</p>

<p>
  <strong>Misc1:</strong>
  <%= @timed_asset.misc1 %>
</p>

<p>
  <strong>Misc2:</strong>
  <%= @timed_asset.misc2 %>
</p>

<p>
  <strong>Misc3:</strong>
  <%= @timed_asset.misc3 %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @timed_asset.comment %>
</p>

<p>
  <strong>Time changed:</strong>
  <%= @timed_asset.time_changed %>
</p>

<%= link_to 'Edit', edit_timed_asset_path(@timed_asset) %> |
<%= link_to 'Back', timed_assets_path %>
